@font-face {
  font-family: 'Jost';
  src: local("Jost"), url("/fonts/Jost-Regular.woff2") format("woff2"), url("/fonts/Jost-Regular.woff") format("woff"), url("/fonts/Jost-Regular.ttf") format("ttf"), url("/fonts/Jost-Regular.eot") format("eot");
}

body {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #3F3F3F;
}

/* header */
.container-desktop {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.top-header {
  padding-top: 5px;
}

.rectangle::after {
  content: url("/img/rectangle.png");
}

.select-region {
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 14px;
}

.select-region_text {
  color: #686868;
  padding-right: 15px;
}

.logo_img {
  background-image: url("/img/logo.svg");
  height: 75px;
  padding-right: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  border-right: 3px solid #E0E0E0;
  padding: 14px;
}

.logo_description {
  font-size: 13px;
  line-height: 120%;
  padding-left: 18px;
}

.header-logo {
  background-image: url("/img/header-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.menu > .navbar {
  padding-top: 30px;
}

.nav-link {
  color: #3F3F3F;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nav-link:hover {
  color: #686868;
}

.nav-item {
  text-align: center;
  line-height: 120%;
  padding-right: 40px;
}

.contact-us {
  line-height: 180%;
  font-weight: 500;
}

.phone_img {
  background-image: url("/img/phone.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.phone > a {
  color: #2974E4;
}

.letter_img {
  background-image: url("/img/letter.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 21px;
  height: 19px;
}

.letter > a {
  color: #3F3F3F;
}

.clock {
  padding-right: 18px;
}

.clock_img {
  background-image: url("/img/clock.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.exit_img {
  content: url("");
  background-image: url("/img/exit.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 21px;
  height: 23px;
}

.exit > a {
  line-height: 160%;
  color: #2C2C2C;
}

.dropdown-toggle::before {
  content: url("/img/rectangle.png");
}

.dropdown-toggle::after {
  display: none;
}

header {
  padding-bottom: 25px;
}

.propb-link {
  color: #4F4F4F;
}

.propb-link:hover,
.letter > a:hover,
.exit > a:hover {
  color: #686868;
}

/* content */
.drawing {
  width: 100%;
  background-image: url("/img/drawing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 694px;
  margin-bottom: 70px;
}

.drawing_title {
  font-weight: 600;
  font-size: 47px;
  line-height: 130%;
  color: #FFFFFF;
  padding-bottom: 42px;
}

.drawing_description {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  width: 60%;
  padding-bottom: 46px;
}

.drawing_button {
  line-height: 160%;
  color: #2974E4;
  padding: 16px 25px 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.drawing-width {
  max-width: 550px;
  top: 17%;
  left: 13%;
}

.about-factory {
  font-weight: 500;
  font-size: 32px;
  color: #151515;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */