@charset "UTF-8";

@font-face {
    font-family: 'Jost';
    src: local('Jost'),
        url('/fonts/Jost-Regular.woff2') format('woff2'),
        url('/fonts/Jost-Regular.woff') format('woff'),
        url('/fonts/Jost-Regular.ttf') format('ttf'),
        url('/fonts/Jost-Regular.eot') format('eot');
}

body {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #3F3F3F;
}

.container-desktop {
    max-width: 1440px;
}

.top-header {
    padding-top: 5px;
}

.rectangle::after {
    content: url("/img/rectangle.png");
}

.select-region {
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 14px;
}

.select-region_text {
    color: #686868;
}

.logo_img {
    background-image: url("/img/logo.svg");
    height: 75px;
    padding-right: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    border-right: 3px solid #E0E0E0;
    padding: 14px;
}

.logo_description {
    font-size: 13px;
    line-height: 120%;
    padding-left: 18px;
}

.header-logo {
    background-image: url("/img/header-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.nav-link {
    color: #3F3F3F;
}

.nav-link:hover {
    color: #686868;
}

.nav-item {
    text-align: center;
    line-height: 120%;
}

.contact-us {
    line-height: 210%;
    font-weight: 500;
}

.phone::before {
    content: url("/img/phone.png");
    padding-right: 11px;
}

.phone>a {
    color: #2974E4;
}

.letter::before {
    content: url("/img/letter.png");
    padding-right: 11px;
}

.letter>a {
    color: #3F3F3F;
}

.clock {
    padding-right: 18px;
}

.clock::before {
    content: url("/img/clock.png");
    padding-right: 11px;
}

.exit::before {
    content: url("/img/exit.png");
    padding-right: 11px;
}

.exit>a {
    line-height: 160%;
    color: #2C2C2C;
}

.dropdown-toggle::before {
    content: url("/img/rectangle.png");
}

.dropdown-toggle::after {
    display: none;
}