@font-face {
  font-family: 'Jost';
  src: local("Jost"), url("/fonts/Jost-Regular.woff2") format("woff2"), url("/fonts/Jost-Regular.woff") format("woff"), url("/fonts/Jost-Regular.ttf") format("ttf"), url("/fonts/Jost-Regular.eot") format("eot");
}

body {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #3F3F3F;
}

/* header */
.container-desktop {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.top-header {
  padding-top: 5px;
}

.rectangle::after {
  content: url("/img/rectangle.png");
}

.select-region {
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 14px;
}

.select-region_text {
  color: #686868;
  padding-right: 15px;
}

.logo_img {
  background-image: url("/img/logo.svg");
  height: 75px;
  padding-right: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  border-right: 3px solid #E0E0E0;
  padding: 14px;
}

.logo_description {
  font-size: 13px;
  line-height: 120%;
  padding-left: 18px;
}

.header-logo {
  background-image: url("/img/header-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.menu > .navbar {
  padding-top: 30px;
}

.nav-link {
  color: #3F3F3F;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nav-link:hover {
  color: #686868;
}

.nav-item {
  text-align: center;
  line-height: 120%;
  padding-right: 40px;
}

.contact-us {
  line-height: 180%;
  font-weight: 500;
}

.phone_img {
  background-image: url("/img/phone.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.phone > a {
  color: #2974E4;
}

.letter_img {
  background-image: url("/img/letter.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 21px;
  height: 19px;
}

.letter > a {
  color: #3F3F3F;
}

.clock {
  padding-right: 18px;
}

.clock_img {
  background-image: url("/img/clock.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.exit_img {
  content: url("");
  background-image: url("/img/exit.png");
  margin-right: 11px;
  background-size: cover;
  background-position: center;
  width: 21px;
  height: 23px;
}

.exit > a {
  line-height: 160%;
  color: #2C2C2C;
}

.dropdown-toggle::before {
  content: url("/img/rectangle.png");
}

.dropdown-toggle::after {
  display: none;
}

header {
  padding-bottom: 25px;
}

.propb-link {
  color: #4F4F4F;
}

.propb-link:hover,
.letter > a:hover,
.exit > a:hover {
  color: #686868;
}

.navbar-nav > .nav-item:last-child {
  padding-right: 0;
}

/* content */
.drawing {
  width: 100%;
  background-image: url("/img/drawing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 694px;
  margin-bottom: 70px;
}

.drawing_title {
  font-weight: 600;
  font-size: 47px;
  line-height: 130%;
  color: #FFFFFF;
  padding-bottom: 42px;
}

.drawing_description {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  width: 60%;
  padding-bottom: 46px;
}

.drawing_button {
  line-height: 160%;
  color: #2974E4;
  padding: 16px 25px 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.drawing-width {
  max-width: 550px;
  top: 17%;
  left: 13%;
}

.about-factory,
.why-are-we,
.our-services,
.how-work {
  font-weight: 500;
  font-size: 32px;
  color: #151515;
  text-align: center;
  padding-bottom: 45px;
}

.about-factory-cards,
.why-are-we-points {
  margin-bottom: 100px;
}

.about-factory-card {
  background: #FAFAFA;
  border-radius: 10px;
  padding: 20px;
  margin-right: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-factory-card_text {
  text-align: center;
  min-width: 130px;
}

.benefits-1 {
  background-image: url("/img/benefits-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 58px;
  margin-bottom: 25px;
}

.benefits-2 {
  background-image: url("/img/benefits-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 58px;
  margin-bottom: 25px;
}

.benefits-3 {
  background-image: url("/img/benefits-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 50px;
  margin-bottom: 32px;
}

.benefits-4 {
  background-image: url("/img/benefits-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 56px;
  margin-bottom: 25px;
}

.benefits-5 {
  background-image: url("/img/benefits-5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 58px;
  margin-bottom: 25px;
}

.why-are-we {
  max-width: 770px;
  line-height: 150%;
}

.why-are-we-point {
  max-width: 576px;
}

.why-are-we-point_title {
  font-size: 22px;
  line-height: 160%;
  color: #19478C;
  font-weight: 500;
  padding-bottom: 10px;
  max-width: 550px;
}

.why-are-we-point_description {
  line-height: 180%;
  color: #4E4E4E;
}

.why-are-we-point_indent {
  margin-bottom: 85px;
}

.our-services-description,
.how-work-description {
  line-height: 180%;
  text-align: center;
  color: #000000;
  margin-bottom: 37px;
}

.our-services-cards {
  margin-bottom: 100px;
}

.our-services-card {
  border: 2px dashed #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #212121;
  padding: 32px 55px;
}

.our-services-card:hover {
  border: 2px solid #2974E4;
  cursor: pointer;
}

.our-services-card_elipse {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 96%;
  left: 45%;
  display: none;
}

.our-services-card:hover .our-services-card_elipse {
  display: block;
}

.algorithm-img {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.02)), to(rgba(0, 0, 0, 0.02))), url("/img/choise-form.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url("/img/choise-form.png");
  background-repeat: no-repeat;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  min-height: 420px;
  min-width: 785px;
  margin-right: 66px;
}

.algorithm-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 230%;
  padding-bottom: 31px;
}

.algorithm-text > div > span {
  color: #2974E4;
  padding-right: 5px;
}

.algorithm {
  margin-bottom: 100px;
}

.personal-area-text {
  margin: 0px 10px;
  font-size: 16px;
  line-height: 160%;
  background: #FAFAFA;
  border-radius: 4px;
  padding: 16px 25px 20px;
  max-width: 250px;
}

.personal-area-link {
  color: #232323;
}

.personal-area-link:hover {
  color: #686868;
}
/*# sourceMappingURL=main.css.map */