@charset "UTF-8";

@font-face {
    font-family: 'Jost';
    src: local('Jost'),
        url('/fonts/Jost-Regular.woff2') format('woff2'),
        url('/fonts/Jost-Regular.woff') format('woff'),
        url('/fonts/Jost-Regular.ttf') format('ttf'),
        url('/fonts/Jost-Regular.eot') format('eot');
}

.top-header {
    display: flex;
}